.auto-style1 {
    text-align: center;
    margin-top: 100px;
}

.auto-style2 {
    height: 146px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
    background: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .login-box h2 {
        margin-top: 0;
        font-size: 24px;
        text-align: center;
    }

.user-box {
    margin-bottom: 20px;
}

    .user-box label {
        display: block;
        margin-bottom: 5px;
    }

    .user-box input[type="text"],
    .user-box input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .user-box input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        background: #4caf50;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }
